# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore Docker files from other projects
**/Dockerfile.dev

# Ignore build artifacts
dist
build

# Ignore OS or editor files
.DS_Store
*.swp
